{% extends "layout/head.html" %}


{% block content %}
<h1>Страница добавления элемента</h1>
<form action="{% url 'add' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">

            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}

            {{ field.label }}
            {{ field }}
        </div>
    {% endfor %}

    <p><input type="submit" value="Создать"> </p>
</form>

{% endblock %}