{% extends "layout/head.html" %}


{% block content %}
<h1>Добавление объявления</h1>
<form action="{% url 'add' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        {% for field in form %}

            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}

            {{ field.label }}
            {{ field }}
        {% endfor %}
    </div>


    <p><input type="submit" value="Создать"> </p>
</form>

{% endblock %}
