{% extends "layout/head.html" %}


{% block content %}
<h1>Страница редактирования элемента</h1>

<form action="{% url 'edit_item' item.id %}" method="post">
        {% csrf_token %}
        
        <p>
            <label>Заголовок   </label>
            <input type="text"  name="head" value="{{ item.head }}">
        </p>
        <p>
            <label>Текст объявления  </label>
            <textarea name="text" rows="5" >{{ item.text }}</textarea>
        </p>
        <p>
            <label>Цена  </label>
            <input type="text" name="price" value="{{ item.price }}"}>
            {{ item.price }}
        </p>
        <p>
            <input type="submit" value="Обновить"> 
        </p>
    </form>

{% endblock %}