{% extends "layout/head.html" %}

{% block content %}
<h1>Все объявления</h1>
{% for ad in ads %}

    <header>
        <h2 class="tm-blue-text tm-section-title tm-margin-b-45">{{ ad.head}}</h2>
    </header>
    <p>{{ ad.text}}</p>
    <p class="price">Цена: {{ ad.price }}</p>
    <p class="date">Опубликовано: {{ ad.date|date:"d.m.Y H:i:s"}}</p>
    <p class="author">Автор: {{ ad.author }}</p>
    {% if user == ad.author %}
        <p class="edit"> <a href="{% url 'edit' ad.id%}">Редактировать</a> </p>
        <p class="edit"> <a href="{% url 'delete' ad.id %}">Удалить</a> </p>
    {% endif %}

{% endfor %}
{% endblock %}
