{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{% static 'board/style.css' %}">
        <title>Главная страница</title>
    </head>
    <body>
        
        <div class="menu">
            <a href="{% url 'index' %}">Главная</a>
            {% if user.is_authenticated %}
                <a href="{% url 'add' %}">Добавить объявление</a>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
        <div class="message">
            {% if user.is_authenticated %}
            <p>Вы вошли как: {{ user.username}}. <a href="{% url 'logout' %}">Выйти</a> </p>
            {% else %}
            <p>Вы не авторизованы.</p>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>