{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>Доска объявлений</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  
        <link rel="stylesheet" href="{% static 'board/bootstrap.min.css' %}">                                     
        <link rel="stylesheet" href="{% static 'board/magnific-popup.css' %}>                                
        <link rel="stylesheet" href="{% static 'board/templatemo-style.css' %}>                                  
    

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="tm-left-right-container"> 
                    <!-- Left column: logo and menu -->
                    <div class="tm-blue-bg tm-left-column">                        
                        <nav class="tm-main-nav">
                            <ul class="tm-main-nav-ul">
                                <li class="tm-nav-item">
                                        <a href="{% url 'index' %}">Главная</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="tm-nav-item">
                                        <a href="{% url 'add' %}">Добавить объявление</a>
                                </li>
                                {% else %}
                                <li class="tm-nav-item">
                                        <a href="{% url 'login' %}">Вход</a>
                                </li>
                                <li class="tm-nav-item">
                                        <a href="{% url 'register' %}">Регистрация</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>                                         
                        </div> <!-- Left column: logo and menu --> 
                </div>>      
            </div>
        </div>

        <div class="message">
            {% if user.is_authenticated %}
            <p>Вы вошли как: {{ user.username}}. <a href="{% url 'logout' %}">Выйти</a> </p>
            {% else %}
            <p>Вы не авторизованы.</p>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
