{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Доска объявлений</title>


    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="{% url 'index' %}">Главная</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'add' %}">Добавить объявление<span class="sr-only">(current)</span></a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Вход</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                    </li>
                    {% endif %}

                </ul>
                <div class="my-2 my-lg-0">
                    {% if user.is_authenticated %}
                    <p>Вы вошли как: {{ user.username}}. <a href="{% url 'logout' %}">Выйти</a> </p>
                    {% else %}
                    <p>Вы не авторизованы</p>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <div class="row">
                <div class="col-6 offset-md-2">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>





    </body>
</html>
